#indexLink, .back{
	font-family:lucida;
	list-style:none;
	text-align:center;
	font-size:1.5em;
}

#indexLink li, .back{
	border:1px solid grey;
	padding:1em;
	margin:1em;
}

	#indexLink a, .back{
		color:black;
		text-decoration:none;
		transition:0.3s;
	}

		#indexLink a:hover, .back:hover{
			color:red;
		}

.back{
	margin:0.25em;
	transition:0.3s;
}

	.back:hover{
		font-size:1.6em;
	}

.container{
	background-color:#e6e6e6;
	border-radius:5px;
	color:#1a1a1a;
	font-size:2em;
	font-family:arial;
	font-weight:bold;
	text-align:center;
	padding:1em;
	width:50%;
	margin:1em 25%;
}

.container span{
	font-size: 0.5em;
}

.container form{
	text-align:left;
	font-size:0.5em;
}

#btnSubmit{
	margin-top:1em;
	min-width:50px;
	width:50%;
	transition:0.5s;
	padding:0.5em;
}

	#btnSubmit:hover{
		font-size:large;
	}

/* Card Question Styles */
#left, #right{
	float:left;
	background-color:#cccccc;
	width:14%;
	height:100%;
	transition:0.5s;
	border-top:2px solid #737373;
	border-bottom:2px solid #737373;
}
	#left{
		border-left:2px solid #737373;
		margin-left:4px;
	}
	#right{
		border-right:2px solid #737373;
	}
	#left:hover, #right:hover{
		background-color:#999999;
	}
	#left span, #right span{
		font-family:helvetica;
		color:white;
		font-size:3em;
		text-align:center;
		position: absolute;
		top:50%;
	}
	#left span{
		left:4%;
	}
	#right span{
		right:4%;
	}
#card{
	float:left;
	background-color:#29a329;
	border:2px solid #145214;
	width:70%;
	height:100%;
	max-height:100%;
	text-align:center;
}
#question{
	vertical-align:middle;
	font-family:helvetica;
	font-size: 2em;
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#cardContainer{
	margin-top:2em;
	position: absolute;
	top: 100px;
	right: 0;
	bottom: 100px;
	left: 0;
}

/* Win a Car Game Styles */
.box{
	border:solid 1px black;
	border-radius:5px;
	padding:0.5em;
	width:100%;
	color:black;
}
#doors{
	float:left;
	clear:left;
}
#score{
	float:left;
	margin-left:1em;
	font-size:1.5em;
}
